In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_file = pd.read_csv(school_file)
student_file = pd.read_csv(student_file)


school_file.head()
school_file

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [56]:
Total_Budget = school_file['budget'].sum()
print(Total_Budget)

24649428

In [57]:
student_file.head()
student_file.shape

(39170, 7)

In [58]:
student_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
Student ID       39170 non-null int64
student_name     39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school_name      39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [59]:
school_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 680.0+ bytes

In [60]:
# Combine the data into a single dataset
merged_file = pd.merge(student_file, school_file, how="left", on=['school_name', 'school_name'])

In [61]:
#District Summary
#Calculate the total number of schools, Calculate the total number of students, total budget,
#average math score, average reading score,
#overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2, 
#percentage of students with a passing math score (70 or greater),
#Calculate the percentage of students with a passing reading score (70 or greater), 
#Create a dataframe to hold the above results

# Total Schools Total Students Total Budget Average Math Score Average Reading Score
# % Passing Math % Passing Reading % Overall Passing Rate

In [62]:
merged_file.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [63]:
Total_Schools = merged_file['school_name'].nunique()
print(Total_Schools)
Total_Students = merged_file['Student ID'].nunique()
print(Total_Students)

15
39170

In [64]:
Average_Math_Score = merged_file.loc[:,"math_score"].mean()
print(Average_Math_Score)

78.98537145774827

In [65]:
Average_Reading_Score = merged_file.loc[:,"reading_score"].mean()
print(Average_Reading_Score)

81.87784018381414

In [66]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Overall_Passing_Rate = (Average_Reading_Score + Average_Math_Score)/2
print(Overall_Passing_Rate)

80.43160582078121

In [67]:
pass_read = merged_file['reading_score'] >= 70
pass_math = merged_file['math_score'] >= 70
print(np.count_nonzero(pass_read)/Total_Students * 100)

85.80546336482001

In [68]:
print(np.count_nonzero(pass_math)/Total_Students * 100)

74.9808526933878

In [69]:
#get a reference of the column names
merged_file.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [70]:
Total_Schools = merged_file['school_name'].nunique()
Total_Schools

Total_Students = merged_file['Student ID'].nunique()
Total_Students

Average_Math_Score = merged_file.loc[:,"math_score"].mean()
Average_Math_Score

Average_Reading_Score = merged_file.loc[:,"reading_score"].mean()
Average_Reading_Score

Overall_Passing_Rate = (Average_Reading_Score + Average_Math_Score)/2
Overall_Passing_Rate
school_type = merged_file.loc[:, "type"]
school_budget = merged_file.loc[:, "budget"]
print(school_budget)

0        1910635
1        1910635
2        1910635
3        1910635
4        1910635
5        1910635
6        1910635
7        1910635
8        1910635
9        1910635
10       1910635
11       1910635
12       1910635
13       1910635
14       1910635
15       1910635
16       1910635
17       1910635
18       1910635
19       1910635
20       1910635
21       1910635
22       1910635
23       1910635
24       1910635
25       1910635
26       1910635
27       1910635
28       1910635
29       1910635
          ...
39140    1043130
39141    1043130
39142    1043130
39143    1043130
39144    1043130
39145    1043130
39146    1043130
39147    1043130
39148    1043130
39149    1043130
39150    1043130
39151    1043130
39152    1043130
39153    1043130
39154    1043130
39155    1043130
39156    1043130
39157    1043130
39158    1043130
39159    1043130
39160    1043130
39161    1043130
39162    1043130
39163    1043130
39164    1043130
39165    1043130
39166    1043130
39167    1043130
39168    1043130
39169    1043130
Name: budget, Length: 39170, dtype: int64

In [71]:
pass_read = merged_file['reading_score'] >= 70
pass_read = pass_read/Total_Students * 100
Passing_R = np.count_nonzero(pass_read)/Total_Students * 100
print(Passing_R)

85.80546336482001

In [72]:
pass_math = merged_file['math_score'] >= 70
pass_math = pass_math/Total_Students * 100
Passing_M = np.count_nonzero(pass_math)/Total_Students * 100
print(Passing_M)

74.9808526933878

In [73]:
Passing_O = (Average_Reading_Score + Average_Math_Score)/2
print(Passing_O)

80.43160582078121

In [74]:
print("Total_Schools" , Total_Schools, "Total_Students" , Total_Students, "Total_Budget" , Total_Budget)

Total_Schools 15 Total_Students 39170 Total_Budget 24649428

In [75]:
print("Average_Math_Score" , Average_Math_Score, "Average_Reading_Score" , Average_Reading_Score)

Average_Math_Score 78.98537145774827 Average_Reading_Score 81.87784018381414

In [76]:
print( "Passing_M",Passing_M,"Passing_R" ,Passing_R,"Overall_Passing_Rate" ,Overall_Passing_Rate,"Passing_O",Passing_O)

Passing_M 74.9808526933878 Passing_R 85.80546336482001 Overall_Passing_Rate 80.43160582078121 Passing_O 80.43160582078121

In [77]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"School_Type" : [school_type],
                           "Total_Schools":[Total_Schools],
                           "Total_Students": [Total_Students],
                          "Total_Budget": [Total_Budget],
                           "Average_Math_Score": [Average_Math_Score],
                           "Average_Reading_Score": [Average_Reading_Score],
                           "Passing_M": [Passing_M],
                           "Passing_R" : [Passing_R],
                           "Overall_Passing_Rate" : [Overall_Passing_Rate],
                           "Passing_O" : [Passing_O]})
summary_df

,School_Type,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,Passing_M,Passing_R,Overall_Passing_Rate,Passing_O
0,0 District 1 District 2 D...,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606,80.431606

In [84]:
school_type = school_file.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [85]:
school_budget = school_file.set_index(["school_name"])["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [104]:
school_math = student_file.set_index(["school_name"])["math_score"]
school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
Huang High School     94
Huang High School     80
Huang High School     69
Huang High School     87
Huang High School     84
Huang High School     70
Huang High School     77
Huang High School     79
Huang High School     79
Huang High School     67
Huang High School     88
Huang High School     55
Huang High School     75
Huang High School     69
Huang High School     80
Huang High School     89
Huang High School     77
Huang High School     84
Huang High School     68
Huang High School     73
Huang High School     70
Huang High School     85
Huang High School     58
Huang High School     55
Huang High School     88
                      ..
Thomas High School    99
Thomas High School    93
Thomas High School    83
Thomas High School    93
Thomas High School    87
Thomas High School    74
Thomas High School    95
Thomas High School    81
Thomas High School    89
Thomas High School    93
Thomas High School    75
Thomas High School    73
Thomas High School    84
Thomas High School    75
Thomas High School    71
Thomas High School    98
Thomas High School    95
Thomas High School    94
Thomas High School    90
Thomas High School    72
Thomas High School    86
Thomas High School    84
Thomas High School    77
Thomas High School    75
Thomas High School    76
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [117]:
school_read = student_file.set_index(["school_name"])["reading_score"]
school_read

school_name
Huang High School     66
Huang High School     94
Huang High School     90
Huang High School     67
Huang High School     97
Huang High School     94
Huang High School     82
Huang High School     96
Huang High School     95
Huang High School     96
Huang High School     90
Huang High School     78
Huang High School     64
Huang High School     71
Huang High School     85
Huang High School     94
Huang High School     88
Huang High School     74
Huang High School     64
Huang High School     89
Huang High School     91
Huang High School     90
Huang High School     99
Huang High School     81
Huang High School     85
Huang High School     92
Huang High School     63
Huang High School     80
Huang High School     73
Huang High School     90
                      ..
Thomas High School    76
Thomas High School    86
Thomas High School    96
Thomas High School    71
Thomas High School    77
Thomas High School    94
Thomas High School    69
Thomas High School    88
Thomas High School    89
Thomas High School    82
Thomas High School    80
Thomas High School    84
Thomas High School    98
Thomas High School    80
Thomas High School    91
Thomas High School    92
Thomas High School    79
Thomas High School    79
Thomas High School    87
Thomas High School    85
Thomas High School    89
Thomas High School    70
Thomas High School    94
Thomas High School    90
Thomas High School    97
Thomas High School    99
Thomas High School    95
Thomas High School    73
Thomas High School    99
Thomas High School    95
Name: reading_score, Length: 39170, dtype: int64

In [125]:
# Using GroupBy in order to separate the data into fields according to "school" values

school_group = merged_file.groupby('school_name')
# The object returned is a "GroupBy" object and cannot be viewed normally...
print(school_group)

#group it by school

school_group.count().head(15)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x121550630>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [126]:
# "Total Student" can now be summed up per school
student_by_school = school_group["Student ID"].nunique()
student_by_school.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [127]:
school_math = school_group["math_score"].sum()
school_math.head(15)

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [128]:
school_read = school_group["reading_score"].sum()
school_read.head(15)

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [130]:
# Creating a new DataFrame using both school name and student count
school_summary = pd.DataFrame({"Total Students": student_by_school,
                              "School Type": school_type,
                              "Total School Budget": school_budget,
                              "Per Student Budget": school_budget/student_by_school,
                              "Average Math Score": school_math/student_by_school,
                              "Average Reading Score":school_read/student_by_school})
                              
school_summary.head(15)

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
Bailey High School,4976,District,3124928,628.0,77.048432,81.033963
Cabrera High School,1858,Charter,1081356,582.0,83.061895,83.975780
Figueroa High School,2949,District,1884411,639.0,76.711767,81.158020
Ford High School,2739,District,1763916,644.0,77.102592,80.746258
Griffin High School,1468,Charter,917500,625.0,83.351499,83.816757
Hernandez High School,4635,District,3022020,652.0,77.289752,80.934412
Holden High School,427,Charter,248087,581.0,83.803279,83.814988
Huang High School,2917,District,1910635,655.0,76.629414,81.182722
Johnson High School,4761,District,3094650,650.0,77.072464,80.966394
Pena High School,962,Charter,585858,609.0,83.839917,84.044699
Rodriguez High School,3999,District,2547363,637.0,76.842711,80.744686
Shelton High School,1761,Charter,1056600,600.0,83.359455,83.725724
Thomas High School,1635,Charter,1043130,638.0,83.418349,83.848930
Wilson High School,2283,Charter,1319574,578.0,83.274201,83.989488
Wright High School,1800,Charter,1049400,583.0,83.682222,83.955000