In [113]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_file = pd.read_csv(school_file)
student_file = pd.read_csv(student_file)


school_file.head()
school_file

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [114]:
Total_Budget = school_file['budget'].sum()
print(Total_Budget)

24649428

In [115]:
student_file.head()
student_file.shape

(39170, 7)

In [116]:
student_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
Student ID       39170 non-null int64
student_name     39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school_name      39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [118]:
school_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 680.0+ bytes

In [119]:
# Combine the data into a single dataset
school_file = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])

In [120]:
#District Summary
#Calculate the total number of schools, Calculate the total number of students, total budget,
#average math score, average reading score,
#overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2, 
#percentage of students with a passing math score (70 or greater),
#Calculate the percentage of students with a passing reading score (70 or greater), 
#Create a dataframe to hold the above results

# Total Schools Total Students Total Budget Average Math Score Average Reading Score
# % Passing Math % Passing Reading % Overall Passing Rate

In [124]:
school_file.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [125]:
Total_Schools = school_file['school_name'].nunique()
print(Total_Schools)
Total_Students = school_file['Student ID'].nunique()
print(Total_Students)

15
39170

In [126]:
Average_Math_Score = school_file.loc[:,"math_score"].mean()
print(Average_Math_Score)

78.98537145774827

In [127]:
Average_Reading_Score = school_file.loc[:,"reading_score"].mean()
print(Average_Reading_Score)

81.87784018381414

In [128]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Overall_Passing_Rate = (Average_Reading_Score + Average_Math_Score)/2
print(Overall_Passing_Rate)

80.43160582078121

In [130]:
pass_read = school_file['reading_score'] >= 70
pass_math = school_file['math_score'] >= 70
print(np.count_nonzero(pass_read)/Total_Students * 100)

85.80546336482001

In [131]:
print(np.count_nonzero(pass_math)/Total_Students * 100)

74.9808526933878

In [133]:
#get a reference of the column names
school_file.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [134]:
Total_Schools = school_file['school_name'].nunique()
Total_Schools

Total_Students = school_file['Student ID'].nunique()
Total_Students

Average_Math_Score = school_file.loc[:,"math_score"].mean()
Average_Math_Score

Average_Reading_Score = school_file.loc[:,"reading_score"].mean()
Average_Reading_Score

Overall_Passing_Rate = (Average_Reading_Score + Average_Math_Score)/2
Overall_Passing_Rate

80.43160582078121

In [135]:
pass_read = school_file['reading_score'] >= 70
pass_read = pass_read/Total_Students * 100
Passing_R = np.count_nonzero(pass_read)/Total_Students * 100
print(Passing_R)

85.80546336482001

In [136]:
pass_math = school_file['math_score'] >= 70
pass_math = pass_math/Total_Students * 100
Passing_M = np.count_nonzero(pass_math)/Total_Students * 100
print(Passing_M)

74.9808526933878

In [137]:
Passing_O = (Average_Reading_Score + Average_Math_Score)/2
print(Passing_O)

80.43160582078121

In [138]:
print("Total_Schools" , Total_Schools, "Total_Students" , Total_Students, "Total_Budget" , Total_Budget)

Total_Schools 15 Total_Students 39170 Total_Budget 24649428

In [139]:
print("Average_Math_Score" , Average_Math_Score, "Average_Reading_Score" , Average_Reading_Score)

Average_Math_Score 78.98537145774827 Average_Reading_Score 81.87784018381414

In [140]:
print( "Passing_M",Passing_M,"Passing_R" ,Passing_R,"Overall_Passing_Rate" ,Overall_Passing_Rate,"Passing_O",Passing_O)

Passing_M 74.9808526933878 Passing_R 85.80546336482001 Overall_Passing_Rate 80.43160582078121 Passing_O 80.43160582078121

In [141]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total_Schools":[Total_Schools],
                           "Total_Students": [Total_Students],
                          "Total_Budget": [Total_Budget],
                           "Average_Math_Score": [Average_Math_Score],
                           "Average_Reading_Score": [Average_Reading_Score],
                           "Passing_M": [Passing_M],
                           "Passing_R" : [Passing_R],
                           "Overall_Passing_Rate" : [Overall_Passing_Rate],
                           "Passing_O" : [Passing_O]})
summary_df

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,Passing_M,Passing_R,Overall_Passing_Rate,Passing_O
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606,80.431606

In [143]:
school_type = school_file.set_index(["school_name"])["type"]
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [144]:
# Using GroupBy in order to separate the data into fields according to "school" values

school_group = school_file.groupby('school_name')
# The object returned is a "GroupBy" object and cannot be viewed normally...
print(school_group)

#group it by school

school_group.count().head(15)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x122c7e2e8>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [145]:
# "Total Student" can now be summed up per school
student_by_school = school_group["Student ID"].nunique()
student_by_school.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [150]:
# Creating a new DataFrame using both school name and student count
school_summary = pd.DataFrame({"Total Students": student_by_school,
                              "School Type": school_type,
                              "Total School Budget": budget,
                               "Per Student Budget": budget/student_by_school,
                               "Average Math Score":,
                               "Average Reading Score":,
                               "PC Passing Math":
                               "PC Passing Math":   })
school_summary.head(15)

SyntaxError: invalid syntax (<ipython-input-150-b5cc4a14641e>, line 6)