In [10]:
import pandas as pd

# Reference the file where the CSV is located
election_csv_path = "../Resources/election_data.csv"

# Import the data into a Pandas DataFrame
election_df = pd.read_csv(election_csv_path)
election_df.head()


#calculate a values showing:
# Total number of votes cast
# List of candidates who got votes
# % of votes by  candidate
# Total votes by candidate
# Winner based on popular vote

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [13]:
election_df.count()

Voter ID     1048575
County       1048575
Candidate    1048575
dtype: int64

In [14]:
election_df.shape

(1048575, 3)

In [15]:
election_df.dtypes

Voter ID      int64
County       object
Candidate    object
dtype: object

In [47]:
Results = election_df["Candidate"].value_counts()
print("Total Votes: ")
print(Results.sum())

Total Votes:
1048575

In [25]:
Khan_Total = election_df["Candidate"] == "Khan"

In [26]:
Correy_Total = election_df["Candidate"] == "Correy"
Li_Total = election_df["Candidate"] == "Li"
OTooley_Total = election_df["Candidate"] == "OTooley"

In [33]:
print((Khan_Total).value_counts())

TypeError: cannot convert the series to <class 'int'>

SyntaxError: invalid syntax (<ipython-input-32-896fd1c88d93>, line 1)