In [10]:
import pandas as pd

# Reference the file where the CSV is located
election_csv_path = "../Resources/election_data.csv"

# Import the data into a Pandas DataFrame
election_df = pd.read_csv(election_csv_path)
election_df.head()


#calculate a values showing:
# Total number of votes cast
# List of candidates who got votes
# % of votes by  candidate
# Total votes by candidate
# Winner based on popular vote

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [13]:
election_df.count()

Voter ID     1048575
County       1048575
Candidate    1048575
dtype: int64

In [14]:
election_df.shape

(1048575, 3)

In [15]:
election_df.dtypes

Voter ID      int64
County       object
Candidate    object
dtype: object

In [17]:
Results = election_df["Candidate"].value_counts()
Results.head()

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64